body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #00A5F7;
}

#navheader{
  background: lightgray;
}

.table {
  display: inline-block;   /* Allow the centering to work */
  margin: 0 auto;
  text-decoration: none;
}

.table a{
  text-decoration: none;
}

.sliding-middle-out {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
  width: 100%;
  background: #fff;
}

nav{
  display: inline-block;
}

#btn{
  padding: 15px;
  border:none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: lightgray;
}

#btn:hover{
  background-color: lightblue;
}

#btn:active{
  background-color: dodgerblue;
}



.nice-textbox{
  margin-right: 5px;
  width: 500px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none;
}

ul#navbar{
  min-width: 696px;
  list-style: none;
}

ul#navbar li {
  display: inline;
  padding: 10px;
}

nav ul li:hover {
  background: lightblue;
  border-radius: 7px;
}

nav ul li:active {
  background: dodgerblue;
}

#applyboard_logo{
  display: inline-block;
  margin-top: 10px;
}

#images{
  margin-left: 10%;
  margin-right: 10%;
}

#images h1{
  text-align: justify;
  margin: 0px;
  padding-bottom: 10px;
}
